
<div class="">
  <div class="">
    <div class="" style="text-align: center;">
      <h1>Bem Vindo </h1>
<h5> <%= @saudacao_teste %> </h5>
    </div>
    <h5> <%= @ordens%> </h5>

      </div>

</div>
<!--col-sm-8 col-sm-offset-4 col-lg-7 col-lg-offset-5-->
