

<div class="container over">
  <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

                <h1 style="text-align:center"> Seja bem vindo</h1>
              <h4 style="text-align:center">Escolha o seu Layout</h4>

              <div class="container">
                <div class="row">
                  <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                    <a href="http://www.google.com.br">
                      <img src="http://lorempixel.com/200/150" />
                    </a>
                    <a href="http://www.google.com.br">
                      <img src="http://lorempixel.com/200/150" />
                    </a>
                    <a href="http://www.google.com.br">
                      <img src="http://lorempixel.com/200/150" />
                    </a>
                    <a href="http://www.google.com.br">
                      <img src="http://lorempixel.com/200/150" />
                    </a>


                  </div>

                </div>

              </div>
          <%= bootstrap_flash %>
          <%= yield %>


        </div>
          <footer class="footer">
 			<p>&copy; Company 2016</p>
		</footer>
  </div><!--/span-->
</div>
